WAZUH_HOST=https://localhost:9200
WAZUH_USER=admin
WAZUH_PASS=
ABUSEIPDB_API_KEY=
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_API_KEY_6=
GEMINI_API_KEY_7=
GEMINI_API_KEY_8=
GEMINI_API_KEY_9=
SURICATA_EVE_PATH=/var/log/suricata/eve.json
PCAP_DIR=dataset/pcap_files/raw
GROUND_TRUTH_PATH=dataset/EarlyCrowAPT/data/contextual_summaries/testing.csv
OUTPUT_DIR=output
